# .NET Core / C#
[Bb]in/
[Oo]bj/
*.user
appsettings.Development.json
Migrations/

# Node.js / React
node_modules/
build/
.env
.env.local
npm-debug.log*

# Visual Studio / IDE files
.DS_Store
Thumbs.db
.vs/